<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
home page
{{ hello }}

<h5>user</h5>
{{ user.id }} <br/>
{{ user.name }} <br/>
{{ user.age }} <br/>

<h5>user - with 사용</h5>
{{#with user }}
    {{id}} <br/>
    {{name}} <br/>
    {{age}} <br/>
{{/with}}
</body>
</html>